/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    font-family: sans-serif, arial;
    background-color:  #F2F1EF;
}

main, article {
    padding: 5px;
    background-color: rgb(255, 248, 218);
}

h1 {
    background-color: lightgray;
    padding-left: 15px;
}

h2 {
    background-color: lightgray;

    padding-left: 15px;
}

p {
    padding-left: 25px;
}

img {
    padding-left: 15px;
}

a:visited {
    color: blue;
    background-color: blue;
}

a:active {
    color: blue;
    background-color: blue;
    text-decoration: none;
}

.content {
    max-width: 1200px;
    margin: auto;
  }

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    background-color: #24292e;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    font-size: 110%;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mainHeading {
    color: red;
}

#testP.funParagraph {
    color: green;
}